---
title: "Verification of Network-On-Chip Systems"
collection: publications
permalink: /publications/verification
excerpt: 'Functional verification using feedback guided test generation'
date: Jan - May 2022
venue: 'BITS Pilani'
---
Developed a feedback-guided packet generation technique to improve functional coverage in NoC systems. The algorithm takes the initial coverage report as feedback and generates the uncovered packets to improve the functional coverage. Tested the algorithm for different mesh sizes and compared the results with meta-heuristic-based algorithms.
